* {
    @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;

}

.nav_alignment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4% 10%;
}

.nav_name {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 700;
}

.nav_btn {
    border: 1px solid rgb(13, 19, 33);
    padding: 15px 20px;
    border-radius: 8px;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgb(13, 19, 33);
    background-color: transparent;
}

.nav_btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

/* Navbar completed */

.hero_banner {
    background-image: url(assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6%;

}

.banner_align {
    text-align: center;

}

.banner_title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 700;
    margin: 35px 10%;
}

.banner_description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    color: gray;
    margin: 30px 19%;
}

.banner_btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: black;
    border: 3px solid black;
}

.banner_btn:hover {
    background-color: transparent;
    color: black;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

/* hero banner completed */
.container {
    margin: 70px 150px;
}

.why_developing_section {
    padding: 70px;
    border-radius: 16px;
}

.why_developing_contents_align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 70px;

}

.why_developing_section_title {
    color: rgb(13, 19, 33);
    font-size: 45px;
    font-weight: 700;
}

.why_developing_section_description {
    color: gray;
    margin: 25px 10% 100px 10%;
    font-size: 16px;
    font-weight: 400;
}

.learn_more_div_Container {
    margin: 0 10%;
}

.why_developing_contents_title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 30px;
    font-weight: 700;
}

.why_developing_contents_description {
    color: rgb(13, 19, 33);
    margin-top: 16px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
}

/* Why web Developing Section DOne */